@import "../styles/variables.scss";

@font-face {
    font-family: 'Pacifico'; 
    src: url('../assets/fonts/Pacifico-Regular.ttf') format('truetype'); 
}
@font-face {
    font-family: 'Quicksand';
    src: url('../assets/fonts/Quicksand-VariableFont_wght.ttf') format('truetype'); 
}

#menu_top_container {
    display: flex;
    justify-content: space-between;
    background-color: $color_background;
    color: $color_secondary;
}

#menu_bottom_container {
    width: 100%;
    height: auto;
    background-color: $color_background;
    // background: url("../assets/images/red_dots.jpg");
    color: $color_secondary;

    h2 {
        padding: 1.4rem;
        text-align: center;
        font-family: 'Pacifico', sans-serif;
        margin: 1.4rem;
        border-bottom: 2px solid $color_font_primary;
        box-shadow: 0 2px 4px 0 black;
    }
}

.menu_nav {
    // font-family:'Pacifico',  sans-serif;
    position: sticky;
    float: left;
    margin-top: 15px;
    height: fit-content;
    width: 75%;
    min-width: fit-content;
    background-color: $color_secondary;
    z-index: 1;

    a {
        text-decoration: none;
        margin-top: 1.4rem;
        margin-bottom: 1.4rem;
    }

    a:hover {
        
    }
    
    .menu_nav_list {
        width: 100%;
        height: 100%;
        padding-left: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 0 75px 32px 8px;

        .list-item {
            width: 100%;
            position: relative;
            display: block;
            padding: var(--bs-list-group-item-padding-y) var(--bs-list-group-item-padding-x);
            color: $color_font_primary;
            text-decoration: none;
            border-bottom: 2px solid $color_background;
            text-align: center;
            box-shadow: 0 2px 4px 0 grey;

            
        }
    }
}

.menu_items__1 {
    
    position: relative;
    width: 100%;
    height: auto;
    margin-top: 15px;
    margin-right: 15px;
    float: right;
    background-color: $color_background;
    // overflow-y: scroll;

    .image_box {
        width: 150px;
        height: 150px;
        position: relative;
        display: flex;
        margin: 0 auto;
    }
    

    h2 {
        padding: 1.4rem;
        text-align: center;
        font-family: 'Pacifico', sans-serif;
        margin: 1.4rem;
        border-bottom: 2px solid $color_font_primary;
        box-shadow: 0 2px 4px 0 black;
        background-color: $color_primary;
    }

    h3, p {
        margin: 1.4rem;
    }

    .price {
        text-align: right;
    }

    .menu_item_container {
        margin: 1.4rem;
        border-bottom: 1px solid $color_font_primary;
        
    }

    .menu_item_container:nth-child(even) {
        background-color: $color_primary; /* Set background color for even elements */
    }
}

.menu_items__2 {
    // margin-left: 5%;
    margin-bottom: 100px;
    background: url("../assets/images/menu_wallpaper1.jpg");
    background-size: cover;
    padding: 2.4rem;
    
    .image_box {
        width: 150px;
        height: 150px;
        position: relative;
        display: flex;
        margin: 0 auto;
    }

    h2 {
        background-color: $color_primary;
    }
    
    .menu_item_container {
        margin: 1.4rem;
        border-bottom: 1px solid $color_font_primary;
    }

    .menu_item_container:nth-child(even) {
        background-color: $color_background; 
    }
    .menu_item_container:nth-child(odd) {
        background-color: $color_primary; 
    }

    .price {
        text-align: right;
        margin-right: 5%;
    }
}

.menu_items__3 {
    // margin-left: 5%;
    margin-bottom: 100px;
    // background: url("../assets/images/menu_wallpaper2.jpg");
    // background-size: cover;
    padding: 2.4rem;
    
    .image_box {
        width: 350px;
        height: 250px;
        position: relative;
        display: flex;
        justify-content: center;
        margin: 0 auto;
        
        img {
            margin-left: 1.2rem;
            margin-right: 1.2rem;
        }
    }

    h2 {
        background-color: $color_primary;
    }
    
    .menu_item_container {
        margin: 1.4rem;
        border-bottom: 1px solid $color_font_primary;
    }

    .menu_item_container:nth-child(even) {
        background-color: $color_background; 
    }
    .menu_item_container:nth-child(odd) {
        background-color: $color_primary; 
    }

    .price {
        text-align: right;
        margin-right: 5%;
    }
}




.shapedividers_right, .shapedividers_bottom, .shapedividers_top, .shapedividers_left{
    overflow:hidden;
}
    .shapedividers_right::before, .shapedividers_bottom::before, .shapedividers_top::before, .shapedividers_left::before{ 
    content:'';
    font-family:'shape divider from ShapeDividers.com';
    position: absolute;
    z-index: 3;
    pointer-events: none;
    background-repeat: no-repeat;
    bottom: -0.1vw;
    left: -0.1vw;
    right: -0.1vw;
    top: -0.1vw; 
    
}
.shapedividers_right::before {
    background-size: 90px 100%;
    background-position: 100% 50%; 
    background-image: url('data:image/svg+xml;charset=utf8, <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 1000"><g fill="%23d90429"><path d="M30 3c-2 4-3 11 1 15 3 4 8 5 10 10s1 11-3 15l-6 5a18 18 0 00-4 7 12 12 0 003 13c3 2 10 3 8 8 0 3-4 4-6 6-6 7-1 18 6 22 3 1 6 4 6 8a7 7 0 01-3 4c-4 0-8 2-10 6s-3 11 1 15c3 3 8 5 10 9 2 5 0 12-3 16-2 2-5 2-6 5a18 18 0 00-4 6 12 12 0 003 13c3 2 9 4 8 8-1 3-4 5-6 7-6 7-1 17 6 21 3 2 6 5 5 8s-4 5-7 7a13 13 0 00-6 8c-2 5 5 8 9 11 6 5 0 9-4 12s-5 11-1 14c2 2 5 2 7 3 7 7-9 12-12 15-4 4-5 9-2 14 3 4 8 6 12 8 3 2 6 4 4 7-1 3-4 5-6 6a19 19 0 00-9 5c-3 4-3 11 1 15 3 4 8 5 10 10s1 11-3 15l-6 5a18 18 0 00-4 7 12 12 0 004 13c2 2 8 3 7 8 0 3-4 4-5 6-7 7-2 18 5 22 3 2 6 4 6 8s-5 5-8 7a13 13 0 00-6 7c-2 6 5 8 9 11 6 5 0 9-4 13-4 3-4 10-1 14 2 1 5 1 7 3 8 6-9 12-12 14-4 4-5 10-2 15 3 4 8 6 12 8 7 4 1 9-3 14-8 3-13 12-7 19 3 3 8 5 10 10 2 4 1 11-3 15l-6 5a19 19 0 00-4 7 12 12 0 004 13c2 2 9 3 7 8 0 3-4 4-5 6-7 7-2 18 5 22 3 1 6 4 6 8s-5 5-8 6a13 13 0 00-6 8c-2 6 5 8 9 11 6 5 0 9-4 12s-4 11-1 15c2 1 5 1 7 3 8 6-9 12-12 14-4 4-5 9-2 14 3 4 8 6 12 9 3 1 6 3 4 7l-6 5a19 19 0 00-8 5c-4 4-3 12 0 16 3 3 8 5 10 9 2 5 1 12-3 15-2 3-4 3-6 5a18 18 0 00-4 7 12 12 0 004 13c2 2 9 4 8 8-1 3-4 4-6 7-7 7-2 17 5 21 3 2 6 5 6 8s-5 5-8 7a13 13 0 00-6 8c-2 5 5 8 9 11 6 5 0 9-4 12s-4 11 0 14l6 3c8 7-9 12-12 15-4 4-5 9-2 14 3 4 8 6 12 8 7 4 1 11-3 14-1 1-3 3-3 5s4 7 6 7h12c-2 0-6-5-6-7s1-4 3-5c4-3 10-10 3-14-4-2-9-4-12-8-3-5-2-10 2-14 3-3 19-8 12-14l-7-4c-4-3-3-11 1-14s10-7 4-12c-4-3-11-6-9-11a13 13 0 016-8c3-2 7-3 7-7s-2-6-5-8c-7-4-12-14-6-21 2-3 5-4 6-7 1-4-5-6-8-8a12 12 0 01-3-13 18 18 0 014-7c1-2 4-2 6-5 3-3 5-10 3-15-2-4-7-6-10-9-4-4-4-12-1-16a19 19 0 019-5l6-5c2-4-1-6-4-7-4-3-9-5-12-9-3-5-2-10 2-14 3-2 19-8 12-14-2-2-5-2-7-3-4-4-3-12 1-15s10-7 4-12c-4-3-11-5-9-11a13 13 0 016-8c3-1 7-3 7-6s-2-7-5-8c-7-4-12-15-6-22 2-2 5-3 6-6 1-5-5-6-8-8a12 12 0 01-3-13 19 19 0 013-7l7-5c3-4 5-11 3-15-2-5-7-7-10-10-7-7-2-16 6-19 5-5 11-10 4-14-4-2-9-4-12-8-3-5-2-11 2-15 3-2 19-8 12-14-2-2-5-2-7-3-4-4-3-11 1-14 4-4 9-8 4-13-4-3-11-5-9-11a13 13 0 016-7c3-2 7-4 7-7s-2-6-5-8c-7-4-12-15-6-22 2-2 5-3 6-6 1-4-5-6-8-8a12 12 0 01-3-13 18 18 0 013-7l7-5c3-4 5-10 3-15s-7-6-10-10c-4-4-4-11-1-15a19 19 0 019-5l6-6c2-3-2-5-4-7-4-2-9-4-12-8-4-5-2-10 2-14 3-3 19-8 12-14l-7-4c-4-3-3-11 0-14 4-3 10-7 5-12-4-3-11-5-9-11a13 13 0 016-8c3-2 7-3 7-7s-2-6-5-8c-7-4-12-14-6-21 2-3 5-4 6-7 1-4-5-6-8-8a12 12 0 01-3-13 18 18 0 013-7c2-2 5-2 7-5 3-3 5-10 3-15-2-4-7-6-10-9-4-4-3-11-1-16 2-3 6-5 10-5a7 7 0 003-4c0-4-3-7-6-8-8-4-13-15-6-22 2-2 5-3 6-6 1-5-5-6-8-8a12 12 0 01-4-13 18 18 0 014-7l7-5c3-4 5-10 3-15s-7-6-10-10c-4-4-4-11-1-15 2-4 6-5 10-6h-7c-6 0-12 1-15 6z" opacity=".3"/><path d="M42 3c-3 4-3 11 1 15 3 4 8 5 10 10s0 11-3 15l-7 5a18 18 0 00-4 7 12 12 0 004 13c3 2 9 3 8 8-1 3-4 4-6 6-7 7-2 18 6 22 3 1 6 4 5 8a7 7 0 01-3 4c-3 0-7 2-9 6s-3 11 1 15c3 3 8 5 10 9 2 5 0 12-3 16-2 2-5 2-7 5a18 18 0 00-4 6 12 12 0 004 13c3 2 9 4 8 8-1 3-4 5-6 7-6 7-2 17 6 21 3 2 6 5 5 8s-4 6-7 7a13 13 0 00-7 8c-1 6 6 8 9 11 6 5 0 9-4 12s-4 11 0 14l7 4c7 6-10 11-12 14-5 4-6 9-2 14 3 4 8 6 12 8 2 2 5 4 4 7-2 3-4 5-7 6a19 19 0 00-8 5c-3 4-3 11 1 15 3 4 8 5 10 10s0 11-3 15l-7 5a18 18 0 00-4 7 12 12 0 004 13c3 2 9 4 8 8-1 3-4 4-6 6-6 8-1 18 6 22 3 2 6 4 5 8s-4 5-7 7a13 13 0 00-6 7c-2 6 5 8 9 11 6 5 0 9-4 13-4 3-5 10-1 14 2 1 5 1 7 3 7 6-9 12-12 14-4 4-5 10-2 15 3 4 8 6 12 8 7 4 1 9-4 14-7 3-13 12-6 19 3 4 8 5 10 10s0 11-3 15l-7 5a19 19 0 00-3 7 12 12 0 003 13c3 2 9 3 8 8-1 3-4 4-6 6-6 7-1 18 6 22 3 1 6 4 5 8s-4 5-7 6a13 13 0 00-6 8c-2 6 5 8 9 11 6 5 0 9-4 12s-5 11-1 15c2 1 5 1 7 3 7 6-9 12-12 14-4 4-5 9-2 14 3 4 8 6 12 9 3 1 6 3 4 7l-6 5a19 19 0 00-9 5c-3 4-3 12 1 16 3 3 8 5 10 9 2 5 0 12-3 15-2 3-5 3-6 5a18 18 0 00-4 7 12 12 0 003 13c3 2 9 4 8 8-1 3-4 4-6 7-6 7-1 17 6 21 3 2 6 5 5 8s-4 5-7 7a13 13 0 00-6 8c-2 5 5 8 9 11 6 5 0 9-4 12s-5 11-1 14c2 2 5 2 7 3 7 7-9 12-12 15-4 4-5 9-2 14 3 4 8 6 12 8 7 4 1 11-3 14-2 1-3 3-3 5s4 6 6 6h51V-3h-5L71-2 52-3c-4 1-8 2-10 6z"/></g></svg>'); 
}
    
     
.shapedividers_bottom::before {
    background-size: 100% 90px;
    background-position: 50% 100%; 
    background-image: url('data:image/svg+xml;charset=utf8, <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100"><g fill="%23d90429"><path d="M998 29c-4-3-11-3-15 0-3 4-5 9-9 11-5 2-12 0-16-3l-5-7a18 18 0 00-6-4 12 12 0 00-13 4c-2 3-4 9-8 8-3-1-5-4-7-6-7-7-17-2-21 6-2 3-5 6-8 5a7 7 0 01-5-3c0-3-2-7-5-9-5-2-12-3-16 1-3 3-5 8-9 10-5 2-11 0-15-3l-5-7a19 19 0 00-7-4 12 12 0 00-13 4c-2 3-4 9-8 8-3-1-4-4-6-6-8-6-18-2-22 6-2 3-4 6-8 5s-5-4-7-7a13 13 0 00-7-7c-6-1-9 6-11 9-5 6-10 0-13-4s-11-4-14 0c-2 2-2 5-3 7-6 7-12-10-15-12-4-5-9-6-14-2-4 2-6 8-8 12-2 2-4 5-7 4l-6-7a19 19 0 00-5-8c-4-3-11-3-15 1-4 3-5 8-10 10s-11 0-15-3l-5-7a18 18 0 00-7-4 12 12 0 00-13 4c-2 3-3 9-8 8-3-1-4-4-6-6-7-6-18-2-22 6-1 3-4 6-8 5s-5-4-6-7a13 13 0 00-8-6c-6-2-8 5-11 9-5 5-9 0-12-5-3-3-11-4-15 0-1 2-1 5-3 7-6 7-12-9-14-12-4-4-9-6-14-2-4 3-6 8-9 12-4 7-9 0-13-4-3-8-13-13-20-6-3 3-5 8-9 10-5 2-12 0-16-3l-5-7a19 19 0 00-6-3 12 12 0 00-13 3c-2 3-4 9-8 8-3-1-5-4-7-6-7-6-17-1-21 6-2 3-5 6-8 5s-6-4-7-7a13 13 0 00-8-6c-6-2-8 5-11 9-5 5-9 0-12-4s-11-5-14-1l-4 7c-6 7-11-9-14-12-4-4-9-5-14-2-4 3-6 8-8 12-2 2-4 6-7 4l-6-6a19 19 0 00-5-9c-4-3-12-3-15 1-4 3-6 8-10 10-5 2-11 0-15-3l-5-7a18 18 0 00-7-3 12 12 0 00-13 3c-2 3-4 9-8 8-3-1-4-4-6-6-8-6-18-1-22 6-2 3-4 6-8 5s-5-4-7-7a13 13 0 00-7-6c-6-2-8 5-11 9-5 5-9 0-13-4-3-4-11-5-14-1-2 2-2 5-3 7-6 7-12-9-15-12-4-4-9-5-14-2-4 3-6 8-8 12-4 6-11 1-14-3-1-2-3-3-5-3s-6 3-6 6v12c0-3 4-6 6-7s4 2 5 4c3 4 10 9 14 3 2-5 4-10 8-12 5-4 11-3 14 2 3 2 9 19 15 12 1-2 1-5 3-7 3-4 11-4 14 0 4 4 8 10 13 4 3-3 5-10 11-9a13 13 0 017 7c2 3 3 6 7 7s6-2 8-5c4-8 14-12 22-6 2 2 3 5 6 6 4 1 6-5 8-8a12 12 0 0113-4 18 18 0 017 4l5 7c4 3 10 5 15 3 4-2 6-7 10-10 4-4 11-5 15-1a19 19 0 015 8c1 3 3 5 6 7 3 1 5-2 7-4 2-5 4-10 8-12 5-4 10-3 14 2 3 2 8 19 14 12l4-7c3-4 11-4 14 0s7 10 12 4c3-3 5-10 11-9a13 13 0 018 7c1 3 3 6 7 7s6-2 8-5c4-8 14-13 21-6 2 2 4 5 7 6 4 1 6-5 8-8a12 12 0 0113-4 19 19 0 016 4l5 7c4 3 11 5 16 3 4-2 6-7 9-11 7-6 17-1 20 7 4 4 9 11 13 4 3-5 5-10 9-12 5-4 10-3 14 1 2 3 8 20 14 12l3-6c4-4 12-4 15 0s7 10 12 4c3-3 5-10 11-9a13 13 0 018 7c1 2 3 6 6 7s7-3 8-5c4-8 15-13 22-6 2 2 3 5 6 6 5 1 6-5 8-8a12 12 0 0113-4 18 18 0 017 4l5 7c4 3 10 5 15 3s6-7 10-11c4-3 11-4 15 0a19 19 0 015 8c2 3 3 5 6 6 3 2 6-1 7-3 2-5 4-10 8-12 5-4 10-3 14 1 3 3 9 20 15 12l3-6c3-4 11-4 14 0s8 10 13 4c2-3 5-10 11-9a13 13 0 017 7c2 2 3 6 7 7s6-3 8-5c4-8 14-13 22-6 2 2 3 5 6 6 4 1 6-6 8-8a12 12 0 0113-4 19 19 0 017 4l5 7c4 3 10 5 15 3 4-2 6-7 10-11 3-3 10-3 15 0 3 2 5 5 5 9a7 7 0 005 3c3 1 6-2 8-5 4-8 14-13 21-6 2 2 4 5 7 6 4 1 6-6 8-8a12 12 0 0113-4 18 18 0 016 4l5 7c4 3 11 5 16 3 4-2 6-7 9-11 4-3 11-3 15 0 4 2 6 6 6 10v-8c0-5-1-11-6-14z" opacity=".3"/><path d="M998 41c-4-3-11-4-15 0-3 3-5 9-9 11-5 2-12 0-16-3l-5-7a18 18 0 00-6-4 12 12 0 00-13 4c-2 2-4 9-8 8-3-1-5-4-7-6-7-7-17-2-22 6-1 3-4 6-7 5a7 7 0 01-5-3c0-4-2-7-5-9-5-3-12-3-16 0-3 3-5 9-9 10-5 3-12 1-15-3l-5-6a19 19 0 00-7-4 12 12 0 00-13 4c-2 2-4 9-8 8-3-1-4-4-6-6-8-7-18-2-22 6-2 2-4 6-8 5s-5-5-7-8a13 13 0 00-8-6c-5-1-8 6-11 9-4 6-9 0-12-4s-11-4-14 0l-3 6c-7 8-12-9-15-12-4-4-9-5-14-2-4 3-6 8-8 12-2 3-4 6-7 4-3-1-4-3-6-6a19 19 0 00-5-8c-4-4-11-3-15 0-4 4-5 9-10 11s-11 0-15-3l-5-7a18 18 0 00-7-4 12 12 0 00-13 4c-2 2-3 9-8 8-3-1-4-4-6-6-7-7-18-2-22 6-1 3-4 6-8 5s-5-4-6-7a13 13 0 00-8-7c-6-1-8 6-11 9-5 6-9 0-12-4s-11-4-15 0c-1 2-1 5-3 7-6 7-12-10-14-12-4-5-9-6-14-2-4 2-6 7-9 12-4 7-9 0-13-4-3-8-13-13-20-6-3 3-5 8-9 10-5 2-12 0-16-3l-5-7a19 19 0 00-6-4 12 12 0 00-13 4c-2 3-4 9-8 8-3-1-5-4-7-6-7-6-17-2-21 6-2 3-5 6-8 5s-6-4-7-7a13 13 0 00-8-7c-6-1-8 6-11 9-5 6-9 0-12-4s-11-4-14 0l-4 7c-6 7-11-10-14-12-4-5-9-6-14-2-4 2-6 8-8 12-2 2-4 5-7 4-3-2-5-4-6-7a19 19 0 00-5-8c-4-3-12-3-15 1-4 3-6 8-10 10-5 2-11 0-15-3l-5-7a18 18 0 00-7-4 12 12 0 00-13 4c-2 3-4 9-8 8-3-1-4-4-6-6-8-6-18-2-22 6-2 3-4 6-8 5s-5-4-7-7a13 13 0 00-7-7c-6-1-8 6-11 9-5 6-9 0-13-4-3-4-11-4-14 0-2 2-2 5-3 7-6 7-12-10-15-12-4-5-9-6-14-2-4 2-6 7-8 12-4 6-11 1-14-3-1-2-3-4-5-4s-6 4-6 7v50h1006v-5-25-19c0-4-2-8-6-10z"/></g></svg>'); 
}

.shapedividers_left::before{ 
    background-size: 90px 100%;
    background-position: 0% 50%;  
    background-image: url('data:image/svg+xml;charset=utf8, <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 1000"><g fill="%23d90429"><path d="M72 1001c2-5 3-12-1-16-3-3-9-5-11-9-2-5 0-12 3-15 2-3 5-3 7-5a18 18 0 004-7 12 12 0 00-4-13c-2-2-9-4-8-8 1-3 4-4 6-7 7-7 2-17-6-21-3-2-6-5-5-8a7 7 0 013-4c4-1 7-2 9-6 3-4 3-11 0-15s-8-5-10-10-1-11 3-15l6-5a19 19 0 004-7 12 12 0 00-4-13c-2-2-9-3-8-8 1-3 4-4 6-6 7-7 2-18-5-22-3-1-6-4-6-8s5-5 8-7a13 13 0 006-7c2-6-5-8-9-11-6-5 0-9 4-13 4-3 4-10 0-14l-6-3c-8-6 9-12 12-14 4-4 5-10 2-15-3-4-8-5-12-8-3-1-6-3-4-7l6-5a19 19 0 008-6c4-3 3-11 0-15-3-3-8-5-10-9-2-5-1-12 3-16l6-5a18 18 0 004-6 12 12 0 00-4-13c-2-2-9-4-8-8 1-3 4-5 6-7 7-7 2-17-5-21-3-2-6-5-6-8s5-6 8-7a13 13 0 006-8c1-6-6-8-9-11-6-5 0-9 4-12s4-11 0-14l-6-4c-8-6 9-11 12-14 4-4 5-9 2-14-3-4-8-6-12-8-8-4-1-9 3-14 8-3 13-13 7-20-3-3-8-5-10-9-3-5-1-12 3-15 1-3 4-3 6-5a19 19 0 004-7 12 12 0 00-4-13c-2-2-9-4-8-8 1-3 4-4 6-7 7-7 2-17-6-21-2-2-6-5-5-8s5-5 8-7a13 13 0 006-8c1-5-6-8-9-11-6-5 0-9 4-12s4-11 0-14l-6-3c-8-7 9-12 12-15 4-4 5-9 2-14-3-4-8-6-12-8-3-2-6-4-4-7 1-3 4-5 6-6a19 19 0 008-5c4-4 3-11 0-15-4-4-9-5-11-10s0-11 3-15l7-5a18 18 0 004-7 12 12 0 00-4-13c-2-2-9-3-8-8 1-3 4-4 6-6 7-7 2-18-6-22-2-1-6-4-5-8s5-5 7-7a13 13 0 007-7c1-6-6-8-9-11-6-5 0-9 4-12 4-4 4-11 0-15l-6-3c-8-6 9-12 12-14 4-4 5-10 2-14-3-5-8-6-12-9-7-3-2-10 3-13 1-2 3-3 3-6s-4-6-7-6H51c2 0 6 4 6 6s-2 4-3 6c-4 3-10 10-3 13 4 3 9 4 12 9 3 4 2 10-2 14-3 2-20 8-12 14l6 3c4 4 4 11 0 15-4 3-10 7-4 12 3 3 11 5 9 11a13 13 0 01-6 7c-3 2-7 4-8 7s3 7 6 8c7 4 12 15 5 22-2 2-5 3-5 6-2 5 5 6 7 8a12 12 0 014 13 18 18 0 01-4 7l-6 5c-4 4-5 10-3 15s7 6 10 10 4 11 0 15a19 19 0 01-8 5c-2 2-5 3-6 6-2 3 1 5 4 7 4 2 9 4 12 8 3 5 2 10-2 14-3 3-20 8-12 15 2 1 5 1 7 3 3 3 3 11-1 14s-10 8-4 12c4 3 11 6 9 11a13 13 0 01-6 8c-3 2-7 3-8 7s3 6 6 8c7 4 12 14 5 22-2 2-5 3-5 6-2 4 5 6 7 8a12 12 0 014 13 19 19 0 01-4 7c-2 2-4 2-6 5-4 3-5 10-3 15 2 4 7 6 10 9 6 7 1 17-7 20-4 5-11 10-3 14 4 2 9 4 12 8 3 5 2 10-2 14-3 3-20 8-12 14l7 4c3 3 3 11-1 14s-10 7-4 12c4 3 11 5 9 11a13 13 0 01-6 8c-3 1-7 3-8 7s3 6 6 8c7 4 12 14 5 21-1 2-5 4-5 7-2 4 5 6 7 8a12 12 0 014 13 18 18 0 01-4 6l-6 5c-4 4-5 11-3 16 2 4 7 6 10 9 4 4 4 12 1 15a19 19 0 01-9 6l-6 5c-2 4 1 6 4 7 4 2 9 4 12 9 3 4 2 10-2 14-3 2-19 8-12 14 2 2 5 2 7 3 4 4 3 11-1 15-4 3-10 7-4 12 4 3 11 5 9 11a13 13 0 01-6 7c-3 2-7 4-8 7s3 7 6 8c7 4 12 15 6 22-2 2-5 3-6 6-1 5 5 6 8 8a12 12 0 013 13 19 19 0 01-4 7l-6 5c-3 4-5 10-3 15s7 6 10 10c4 4 3 11 1 15s-6 5-10 6a7 7 0 00-3 4c-1 4 3 6 6 8 7 4 12 14 6 22-2 2-6 3-6 6-2 4 5 6 8 8a12 12 0 013 13 18 18 0 01-4 7l-6 5c-4 4-6 10-3 15 2 4 7 6 10 9 4 4 3 11 1 16-2 3-6 5-10 5l7 1c6 0 12-1 15-6z" opacity=".3"/><path d="M60 1001c2-5 3-12-1-16-3-3-8-5-10-9-2-5-1-12 3-15 2-3 5-3 6-5a18 18 0 005-7 12 12 0 00-4-13c-3-2-10-4-8-8 0-3 4-4 6-7 6-7 1-17-6-21-3-2-6-5-6-8a7 7 0 013-4c4-1 8-2 10-6 2-5 3-11-1-15-3-4-8-5-10-10s0-11 3-15l7-5a19 19 0 003-7 12 12 0 00-3-13c-3-2-9-3-8-8 1-3 4-4 6-6 6-7 1-18-6-22-3-2-6-4-5-8s4-5 7-7a13 13 0 006-7c2-6-5-8-9-11-6-5 0-9 4-13 4-3 5-10 1-14-2-1-5-1-7-3-7-6 9-12 12-14 4-4 5-10 2-15-3-4-8-5-12-8-3-1-6-3-4-7l6-5a19 19 0 009-6c3-3 3-11-1-15-3-3-8-5-10-9-2-5-1-12 3-16l6-5a18 18 0 004-6 12 12 0 00-4-13c-2-2-9-4-7-8 0-3 4-5 5-7 7-7 2-17-5-21-3-2-6-5-6-8s5-6 8-7a13 13 0 006-8c2-6-5-8-9-11-6-5 0-9 4-12s4-11 1-14l-7-4c-8-6 9-11 12-14 4-4 5-9 2-14-3-4-8-6-12-8-8-4-1-9 3-14 8-3 13-13 7-20-3-3-8-5-10-9-2-5-1-12 3-15 2-3 4-3 6-5a19 19 0 004-7 12 12 0 00-4-13c-2-2-9-4-7-8 0-3 3-4 5-7 7-7 2-17-5-21-3-2-6-5-6-8s5-5 8-7a13 13 0 006-8c2-5-5-8-9-11-6-4 0-9 4-12s4-11 1-14c-2-2-5-2-7-3-8-7 9-12 12-15 4-4 5-9 2-14-3-4-8-6-12-8-3-2-6-4-4-7 1-3 4-5 6-6a19 19 0 008-5c4-4 3-11 0-15s-8-5-10-10-1-11 3-15l6-5a18 18 0 004-7 12 12 0 00-4-13c-2-2-9-3-8-8 1-3 4-4 6-6 7-7 2-18-5-22-3-1-6-4-6-8s5-5 8-7a13 13 0 006-7c2-6-5-8-9-11-6-5 0-9 4-12 4-4 4-11 0-15l-6-3c-8-6 9-12 12-14 4-4 5-10 2-14-3-5-8-6-12-9-7-3-1-10 3-13 1-2 3-3 3-6s-4-6-6-6H0v1007l5-1h45c4 0 8-2 10-5z"/></g></svg>'); 
}
    
.shapedividers_top::before{ 
    
    background-size: 100% 90px;
    background-position: 50% 0%;  background-image: url('data:image/svg+xml;charset=utf8, <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100"><g fill="%23d90429"><path d="M0 72c4 2 11 3 15-1 3-3 5-8 10-10 5-3 11-1 15 3l5 6a18 18 0 007 4 12 12 0 0013-4c2-2 3-9 8-8 3 1 4 4 6 6 7 7 18 2 22-6 1-2 4-6 8-5a7 7 0 014 3c0 4 2 7 6 9 4 3 11 3 15 0 3-3 5-8 9-10 5-2 12-1 16 3 2 1 2 4 5 6a19 19 0 006 4 12 12 0 0013-4c2-2 4-9 8-8 3 1 5 4 7 6 7 7 17 2 21-5 2-3 5-6 8-6s5 5 7 8a13 13 0 008 6c5 2 8-5 11-9 5-6 9 0 12 4s11 4 14 0l4-6c6-8 11 9 14 12 4 4 9 5 14 2 4-3 6-8 8-12 2-3 4-6 7-4 3 1 5 4 6 6a19 19 0 005 8c4 4 11 3 15 0s5-8 10-10 11-1 15 3l5 6a18 18 0 007 4 12 12 0 0013-4c2-2 4-9 8-8 3 1 4 4 6 6 8 7 18 2 22-5 2-3 4-6 8-6s5 5 7 8a13 13 0 007 6c6 1 8-6 11-9 5-6 9 0 13 4 3 4 11 4 14 0l3-6c6-8 12 9 14 12 4 4 10 5 15 2 4-3 6-8 8-12 4-8 9-1 14 3 3 8 12 13 19 7 4-3 5-9 10-10 5-3 11-1 15 3l5 6a19 19 0 007 4 12 12 0 0013-4c2-2 3-9 8-8 3 1 4 4 6 6 7 7 18 2 22-6 1-2 4-6 8-5s5 5 6 8a13 13 0 008 6c6 1 8-6 11-9 5-6 9 0 12 4s11 4 15 0l3-6c6-8 12 9 14 12 4 4 9 5 14 2 4-3 6-8 9-12 1-3 3-6 7-4 2 1 4 3 5 6a19 19 0 005 8c4 4 12 3 16 0 3-4 5-9 9-11 5-2 12 0 15 3 3 2 3 5 5 7a18 18 0 007 4 12 12 0 0013-4c2-2 4-9 8-8 3 1 4 4 7 6 7 7 17 2 21-6 2-2 5-6 8-5s5 5 7 7a13 13 0 008 7c5 1 8-6 11-9 5-6 9 0 12 4s11 4 14 0c2-2 2-5 4-6 6-8 11 9 14 12 4 4 9 5 14 2 4-3 6-8 8-12 4-7 11-2 14 3 1 1 3 3 5 3s6-4 6-7V51c1 2-4 6-6 6s-4-2-5-3c-3-4-10-10-14-3-2 4-4 9-8 12-5 3-10 2-14-2-3-3-8-20-14-12l-4 6c-3 4-11 4-14 0s-7-10-12-4c-3 3-6 11-11 9a13 13 0 01-8-6c-2-3-3-7-7-8s-6 3-8 6c-4 7-14 12-21 5-3-2-4-5-7-5-4-2-6 5-8 7a12 12 0 01-13 4 18 18 0 01-7-4c-2-2-2-5-5-6-3-4-10-5-15-3-4 2-6 7-9 10-4 3-12 4-16 0a19 19 0 01-5-8l-5-6c-4-2-6 1-7 4-3 4-5 9-9 12-5 3-10 2-14-2-2-3-8-20-14-12-2 2-2 5-3 7-4 3-12 3-15-1s-7-10-12-4c-3 4-5 11-11 9a13 13 0 01-8-6c-1-3-3-7-6-8s-7 3-8 6c-4 7-15 12-22 5-2-2-3-5-6-5-5-2-6 5-8 7a12 12 0 01-13 4 19 19 0 01-7-4l-5-6c-4-4-11-5-15-3-5 2-7 7-10 10-7 6-17 1-19-7-5-4-10-11-14-3-2 4-4 9-8 12-5 3-11 2-15-2-2-3-8-20-14-12-2 2-2 5-3 7-4 3-11 3-14-1-4-4-8-10-13-4-3 4-5 11-11 9a13 13 0 01-7-6c-2-3-4-7-7-8s-7 3-8 6c-4 7-15 12-22 5-2-1-3-5-6-5-5-2-6 5-8 7a12 12 0 01-13 4 18 18 0 01-7-4l-5-6c-4-4-10-5-15-3s-6 7-10 10c-4 4-11 4-15 1a19 19 0 01-5-9c-1-2-3-5-6-6-3-2-5 1-7 4-2 4-4 9-8 12-5 3-10 2-14-2-3-3-8-19-14-12l-4 7c-3 4-11 3-14-1s-7-10-12-4c-3 4-5 11-11 9a13 13 0 01-8-6c-2-3-3-7-7-8s-6 3-8 6c-4 7-14 12-21 5-3-1-4-5-7-5-4-1-6 5-8 7a12 12 0 01-13 4 19 19 0 01-7-4c-2-1-2-4-5-6-3-3-10-5-15-3-4 2-6 7-9 10-4 4-11 3-16 1-3-2-5-6-5-10a7 7 0 00-5-3c-3-1-6 3-7 6-4 7-15 12-22 6-2-2-3-6-6-6-5-2-6 5-8 8a12 12 0 01-13 3 18 18 0 01-7-4l-5-6c-4-4-10-5-15-3s-7 7-10 10c-4 4-11 3-15 1s-5-6-6-10v7c0 6 1 12 6 15z" opacity=".3"/><path d="M0 60c4 2 11 3 15-1 3-3 5-8 10-10s11-1 15 3l5 6a18 18 0 007 5 12 12 0 0013-4c2-3 3-10 8-8 3 0 4 4 6 6 7 6 18 1 22-6 1-3 4-6 8-6a7 7 0 014 3c0 4 2 8 6 10s11 3 15-1c3-3 5-8 9-10 5-2 12 0 16 3 2 2 2 5 5 7a19 19 0 006 3 12 12 0 0013-3c2-3 4-9 8-8 3 1 5 4 7 6 7 6 17 1 21-6 2-3 5-6 8-5s5 4 7 7a13 13 0 008 6c5 2 8-5 11-9 5-6 9 0 12 4s11 5 14 1c2-2 2-5 3-7 7-7 12 9 15 12 4 4 9 5 14 2 4-3 6-8 8-12 2-3 4-6 7-4 3 1 5 4 6 6a19 19 0 005 9c4 3 11 3 15-1 4-3 5-8 10-10s11-1 15 3l5 6a18 18 0 007 4 12 12 0 0013-4c2-2 3-9 8-7 3 0 4 4 6 5 7 7 18 2 22-5 2-3 4-6 8-6s5 5 7 8a13 13 0 007 6c6 2 8-5 11-9 5-6 9 0 13 4 3 4 10 4 14 1 1-2 1-5 3-7 6-8 12 9 14 12 4 4 10 5 15 2 4-3 6-8 8-12 4-8 9-1 14 3 3 8 12 13 19 7 3-3 5-8 10-10 4-2 11-1 15 3l5 6a19 19 0 007 4 12 12 0 0013-4c2-2 3-9 8-7 3 0 4 3 6 5 7 7 18 2 22-5 1-3 4-6 8-6s5 5 6 8a13 13 0 008 6c6 2 8-5 11-9 5-6 9 0 12 4s11 4 15 1c1-2 1-5 3-7 6-8 12 9 14 12 4 4 9 5 14 2 4-3 6-8 9-12 1-3 3-6 7-4l5 6a19 19 0 005 8c4 4 12 3 16 0 3-3 5-8 9-10 5-2 12-1 15 3 3 2 3 4 5 6a18 18 0 007 4 12 12 0 0013-4c2-2 4-9 8-8 3 1 4 4 7 6 7 7 17 2 21-5 2-3 5-6 8-6s5 5 7 8a13 13 0 008 6c5 2 8-5 11-9 5-6 9 0 12 4s11 4 14 0l3-6c7-8 12 9 15 12 4 4 9 5 14 2 4-3 6-8 8-12 4-7 11-1 14 3 1 2 3 3 5 3s6-4 6-6V0H-6v5l1 25-1 20c1 4 2 8 6 10z"/></g></svg>'); 
}
    

    
    
     


    
   
     
    
     
       
// .shapedividers_right{
//     overflow:hidden;
//     position:relative;
//     }
//     .shapedividers_right::before{ 
//     content:'';
//     font-family:'shape divider from ShapeDividers.com';
//     position: absolute;
//     z-index: 3;
//     pointer-events: none;
//     background-repeat: no-repeat;
//     bottom: -0.1vw;
//     left: -0.1vw;
//     right: -0.1vw;
//     top: -0.1vw; 
//     background-size: 90px 100%;
//     background-position: 100% 50%;  
//     background-image: url('data:image/svg+xml;charset=utf8, <svg preserveAspectRatio="xMinYMid slice" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 77 2001"><g fill="%23ef233c"><path opacity=".5" d="M31 1993h22l11-19-11-19H31l-11 19 11 19zM6 1942h11l5-10-5-10H6l-6 10 6 10z"/><path opacity=".75" d="M25 1961h16l8-14-8-14H25l-8 14 8 14zM8 1969h8l4-7-4-6H8l-4 6 4 7z"/><path opacity=".5" d="M31 1871h22l11 19-11 19H31l-11-19 11-19z"/><path opacity=".75" d="M25 1903h16l8 14-8 14H25l-8-14 8-14zM8 1895h8l4 7-4 7H8l-4-7 4-7z"/><path opacity=".5" d="M31 1855h22l11-19-11-19H31l-11 19 11 19zM6 1803h11l5-9-5-10H6l-6 10 6 9z"/><path opacity=".75" d="M25 1823h16l8-14-8-14H25l-8 14 8 14zM8 1831h8l4-7-4-7H8l-4 7 4 7z"/><path opacity=".5" d="M31 1733h22l11 19-11 19H31l-11-19 11-19z"/><path opacity=".75" d="M25 1765h16l8 14-8 14H25l-8-14 8-14zM8 1757h8l4 6-4 7H8l-4-7 4-6z"/><path opacity=".5" d="M31 1717h22l11-19-11-19H31l-11 19 11 19zM6 1665h11l5-9-5-10H6l-6 10 6 9z"/><path opacity=".75" d="M25 1685h16l8-14-8-14H25l-8 14 8 14zM8 1693h8l4-7-4-7H8l-4 7 4 7z"/><path opacity=".5" d="M31 1594h22l11 19-11 20H31l-11-20 11-19z"/><path opacity=".75" d="M25 1626h16l8 14-8 15H25l-8-15 8-14zM8 1618h8l4 7-4 7H8l-4-7 4-7z"/><path opacity=".5" d="M31 1579h22l11-19-11-20H31l-11 20 11 19zM6 1527h11l5-10-5-9H6l-6 9 6 10z"/><path opacity=".75" d="M25 1547h16l8-14-8-15H25l-8 15 8 14zM8 1555h8l4-7-4-7H8l-4 7 4 7z"/><path opacity=".5" d="M31 1456h22l11 19-11 19H31l-11-19 11-19z"/><path opacity=".75" d="M25 1488h16l8 14-8 14H25l-8-14 8-14zM8 1480h8l4 7-4 7H8l-4-7 4-7z"/><path opacity=".5" d="M31 1441h22l11-20-11-19H31l-11 19 11 20zM6 1389h11l5-10-5-9H6l-6 9 6 10z"/><path opacity=".75" d="M25 1408h16l8-14-8-14H25l-8 14 8 14zM8 1416h8l4-6-4-7H8l-4 7 4 6z"/><path opacity=".5" d="M31 1318h22l11 19-11 19H31l-11-19 11-19z"/><path opacity=".75" d="M25 1350h16l8 14-8 14H25l-8-14 8-14zM8 1342h8l4 7-4 7H8l-4-7 4-7z"/><path opacity=".5" d="M31 1302h22l11-19-11-19H31l-11 19 11 19zM6 1251h11l5-10-5-10H6l-6 10 6 10z"/><path opacity=".75" d="M25 1270h16l8-14-8-14H25l-8 14 8 14zM8 1278h8l4-7-4-7H8l-4 7 4 7z"/><path opacity=".5" d="M31 1180h22l11 19-11 19H31l-11-19 11-19z"/><path opacity=".75" d="M25 1212h16l8 14-8 14H25l-8-14 8-14zM8 1204h8l4 7-4 7H8l-4-7 4-7z"/><path opacity=".5" d="M31 1164h22l11-19-11-19H31l-11 19 11 19zM6 1112h11l5-9-5-10H6l-6 10 6 9z"/><path opacity=".75" d="M25 1132h16l8-14-8-14H25l-8 14 8 14zM8 1140h8l4-7-4-7H8l-4 7 4 7z"/><path opacity=".5" d="M31 1041h22l11 20-11 19H31l-11-19 11-20z"/><path opacity=".75" d="M25 1074h16l8 14-8 14H25l-8-14 8-14zM8 1066h8l4 6-4 7H8l-4-7 4-6z"/><path opacity=".5" d="M31 1026h22l11-19-11-20H31l-11 20 11 19zM6 974h11l5-9-5-10H6l-6 10 6 9z"/><path opacity=".75" d="M25 994h16l8-14-8-14H25l-8 14 8 14zM8 1002h8l4-7-4-7H8l-4 7 4 7z"/><path opacity=".5" d="M31 903h22l11 19-11 20H31l-11-20 11-19z"/><path opacity=".75" d="M25 935h16l8 14-8 15H25l-8-15 8-14zM8 927h8l4 7-4 7H8l-4-7 4-7z"/><path opacity=".5" d="M31 888h22l11-20-11-19H31l-11 19 11 20zM6 836h11l5-10-5-9H6l-6 9 6 10z"/><path opacity=".75" d="M25 856h16l8-15-8-14H25l-8 14 8 15zM8 864h8l4-7-4-7H8l-4 7 4 7z"/><path opacity=".5" d="M31 765h22l11 19-11 19H31l-11-19 11-19z"/><path opacity=".75" d="M25 797h16l8 14-8 14H25l-8-14 8-14zM8 789h8l4 7-4 7H8l-4-7 4-7z"/><path opacity=".5" d="M31 749h22l11-19-11-19H31l-11 19 11 19zM6 698h11l5-10-5-9H6l-6 9 6 10z"/><path opacity=".75" d="M25 717h16l8-14-8-14H25l-8 14 8 14zM8 725h8l4-7-4-6H8l-4 6 4 7z"/><path opacity=".5" d="M31 627h22l11 19-11 19H31l-11-19 11-19z"/><path opacity=".75" d="M25 659h16l8 14-8 14H25l-8-14 8-14zM8 651h8l4 7-4 7H8l-4-7 4-7z"/><path opacity=".5" d="M31 611h22l11-19-11-19H31l-11 19 11 19zM6 560h11l5-10-5-10H6l-6 10 6 10z"/><path opacity=".75" d="M25 579h16l8-14-8-14H25l-8 14 8 14zM8 587h8l4-7-4-7H8l-4 7 4 7z"/><path opacity=".5" d="M31 489h22l11 19-11 19H31l-11-19 11-19z"/><path opacity=".75" d="M25 521h16l8 14-8 14H25l-8-14 8-14zM8 513h8l4 7-4 6H8l-4-6 4-7z"/><path opacity=".5" d="M31 473h22l11-19-11-19H31l-11 19 11 19zM6 421h11l5-9-5-10H6l-6 10 6 9z"/><path opacity=".75" d="M25 441h16l8-14-8-14H25l-8 14 8 14zM8 449h8l4-7-4-7H8l-4 7 4 7z"/><path opacity=".5" d="M31 350h22l11 20-11 19H31l-11-19 11-20z"/><path opacity=".75" d="M25 382h16l8 15-8 14H25l-8-14 8-15zM8 374h8l4 7-4 7H8l-4-7 4-7z"/><path opacity=".5" d="M31 335h22l11-19-11-20H31l-11 20 11 19zM6 283h11l5-10-5-9H6l-6 9 6 10z"/><path opacity=".75" d="M25 303h16l8-14-8-14H25l-8 14 8 14zM8 311h8l4-7-4-7H8l-4 7 4 7z"/><path opacity=".5" d="M31 212h22l11 19-11 20H31l-11-20 11-19z"/><path opacity=".75" d="M25 244h16l8 14-8 14H25l-8-14 8-14zM8 236h8l4 7-4 7H8l-4-7 4-7z"/><path opacity=".5" d="M31 197h22l11-20-11-19H31l-11 19 11 20zM6 145h11l5-10-5-9H6l-6 9 6 10z"/><path opacity=".75" d="M25 164h16l8-14-8-14H25l-8 14 8 14zM8 173h8l4-7-4-7H8l-4 7 4 7z"/><path opacity=".5" d="M31 74h22l11 19-11 19H31L20 93l11-19z"/><path opacity=".3" d="M9 53h15l7 13-7 13H9L1 66l8-13zM9 191h15l7 13-7 13H9l-8-13 8-13zM9 330h15l7 13-7 13H9l-8-13 8-13zM9 468h15l7 13-7 13H9l-8-13 8-13zM9 606h15l7 13-7 13H9l-8-13 8-13zM9 744h15l7 13-7 13H9l-8-13 8-13zM9 883h15l7 12-7 13H9l-8-13 8-12zM9 1021h15l7 13-7 13H9l-8-13 8-13zM9 1159h15l7 13-7 13H9l-8-13 8-13zM9 1297h15l7 13-7 13H9l-8-13 8-13zM9 1435h15l7 13-7 13H9l-8-13 8-13zM9 1574h15l7 13-7 12H9l-8-12 8-13zM9 1712h15l7 13-7 13H9l-8-13 8-13zM9 1850h15l7 13-7 13H9l-8-13 8-13z"/><path opacity=".75" d="M25 106h16l8 14-8 14H25l-8-14 8-14zM8 98h8l4 7-4 7H8l-4-7 4-7z"/><path opacity=".5" d="M31 58h22l11-19-11-19H31L20 39l11 19z"/><path opacity=".75" d="M8 34h8l4-7-4-6H8l-4 6 4 7z"/><path d="M77 2001H62l-12-21 14-24-14-23 14-23-14-24 14-23-14-23 14-23-14-24 14-23-14-23 14-24-14-23 14-23-14-23 14-24-14-23 14-23-14-24 14-23-14-23 14-23-14-24 14-23-14-23 14-24-14-23 14-23-14-23 14-24-14-23 14-23-14-24 14-23-14-23 14-23-14-24 14-23-14-23 14-24-14-23 14-23-14-24 14-23-14-23 14-23-14-24 14-23-14-23 14-24-14-23 14-23-14-23 14-24-14-23 14-23-14-24 14-23-14-23 14-23-14-24 14-23-14-23 14-24-14-23 14-23-14-23 14-24-14-23 14-23-14-24 14-23-14-23 14-24-14-23 14-23-14-23 14-24-14-23 14-23-14-24 14-23-14-23 14-23-14-24L64 0h13v2001z"/><path opacity=".75" d="M49 12L42 0H23l-6 12 8 14h16l8-14z"/><path opacity=".3" d="M31 2001l-7-13H9l-8 13h30z"/></g></svg>'); 
//     }
    

     
     
     
    
    
     